{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ">1%, not dead, not ie 11, not op_mini all"
                },
                "corejs": "3.6.4",
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-runtime",
        [
            "import",
            {
                "libraryName": "@material-ui/icons",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            }
        ]
    ]
  }